@using PagedList
@using PagedList.Mvc;
@model PagedList.IPagedList<DamThuyHuong_K22CNT4_2210900028_project2.Models.khachHang>
@{
    ViewBag.Title = "Khách hàng";
    Layout = "~/Areas/DthAdmin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container m-3">
    <table>
        <tr>
            <td></td>
            <th>Hình ảnh</th>
            <th>Tên khách hàng</th>
            <th>Email</th>
            <th>SĐT</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="select1"></td>
                <td><img src="@Url.Content("~/Public/UpLoadImg/imgCus/"+item.hinhAnh)" alt="@item.tenKhachHang" width="100" height="100" /></td>
                <td>
                    @Html.DisplayFor(modelItem => item.tenKhachHang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dienThoai)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.diaChi)
                </td>
                @if (item.trangThai == true)
                {
                    <td>
                        @using (Html.BeginForm("DthKhoa", "DthKhachHang", FormMethod.Post))
                        {
                            <input type="hidden" value="@item.maKhachHang" name="maKhachHang" />
                            <button style="border: none; background: none;"><i class="fa-solid fa-lock-open"></i></button>
                        }
                    </td>
                }
                else
                {
                    <td>
                        @using (Html.BeginForm("DthMoKhoa", "DthKhachHang", FormMethod.Post))
                        {
                            <input type="hidden" value="@item.maKhachHang" name="maKhachHang" />
                            <button style="border: none; background: none;"><i class="fa-solid fa-lock"></i></button>
                        }
                    </td>
                }
                <td>
                    <a href=" @Url.Action("DthDetail", "DthKhachHangs", new { id = item.maKhachHang }) ">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
    <nav aria-label="Page navigation example" style="justify-content: center;">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("DthIndex", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&laquo;</span></li>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                    ;
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("DthIndex", new { page = i })">@i</a>
                    </li>
                }
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("DthIndex", new { page = Model.PageNumber + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&raquo;</span></li>
            }
        </ul>
    </nav>
</div>

   