@using PagedList
@using PagedList.Mvc;
@model PagedList.IPagedList<DamThuyHuong_K22CNT4_2210900028_project2.Models.donHang>
@{
    ViewBag.Title = "Đơn Hàng";
    Layout = "~/Areas/DthAdmin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container m-3">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Tên khách Hàng</th>
                <th>Địa chỉ giao hàng</th>
                <th>Tổng tiền </th>
                <th>Trạng thái</th>
                <th>Phương thức thanh toán</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="select1"></td>
                    <td>
                        @item.khachHang.tenKhachHang
                    </td>
                    <td>
                        @item.diaChiGiaoHang
                    </td>
                    <td>@item.tongTien VNĐ</td>
                    @if (item.trangThai == 1)
                    {
                        <td>
                            @using (Html.BeginForm("DthXuLy", "DthDonHang", FormMethod.Post))
                            {
                                <input type="hidden" value="@item.maDonHang" name="maDonHang" />
                                <button class="btn btn-primary">Chờ xử lý</button>
                            }
                        </td>
                    }
                    @if (item.trangThai == 2)
                    {
                        <td>
                            @using (Html.BeginForm("DthGiaHangThanhCong", "DthDonHang", FormMethod.Post))
                            {
                                <input type="hidden" value="@item.maDonHang" name="maDonHang" />
                                <button class="btn btn-info">Đang giao hàng</button>
                            }
                        </td>
                    } @if (item.trangThai == 3)
                    {
                        <td>

                            <button type="button" class="btn btn-success">Thành công</button>
                        </td>
                    }@if (item.trangThai == 4)
                    {
                        <td>
                            <button class="btn btn-secondary">Đã hủy</button>
                        </td>
                    }
                    @if (item.phuongThucThanhToan == 1)
                    {
                        <td> Tiền mặt</td>
                    }
                    @if (item.phuongThucThanhToan == 2)
                    {
                        <td>Thẻ tín dụng</td>
                    }
                    @if (item.phuongThucThanhToan == 3)
                    {
                    <td>PayPal</td>
                    }
                    <td>
                        <a href=" @Url.Action("DthDetail", "DthDonHang", new { id = item.maDonHang }) ">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <nav aria-label="Page navigation example" style="justify-content: center;">
        <ul class="pagination">
            @if (Model.HasPreviousPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("DthIndex", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&laquo;</span></li>
            }

            @for (int i = 1; i <= Model.PageCount; i++)
            {
                if (i == Model.PageNumber)
                {
                    <li class="page-item active"><span class="page-link">@i</span></li>
                    ;
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("DthIndex", new { page = i })">@i</a>
                    </li>
                }
            }

            @if (Model.HasNextPage)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("DthIndex", new { page = Model.PageNumber + 1 })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><span class="page-link" aria-hidden="true">&raquo;</span></li>
            }
        </ul>
    </nav>
</div>

